{% extends '/website/base2.html' %}
{% block body %}
<br><br>
    <div id="login">
        <h3>Login</h3>
        <div id="form">
        <form method="POST" class="register">
            <input type="text" id="username" placeholder="Enter Username..." minlength="6" maxlength="15" name="username" required><br>
            <input type="password" minlength="6" maxlength="15" id="password" placeholder="Enter Password..." name="password" required><br>
            <input type="submit" value="Enter" style="width: 60px; height:30px; display:block;">
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
      <p>{{ messages[-1] }}</p>
        {% endif %}
        {% endwith %}
    <p>Don't have an account ? <a href="{{url_for('register')}}">Register</a></p>
    </div>
    </div>
{% endblock %}