{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block page_title %}Edit Users{% endblock %}
{% block body %}
    <div class="center">
    <p class="total">Users in total: {{amount}}</p>
        <input type="text" id="searchInput" placeholder="Enter search keywords..." onkeyup="searchTable()"><br><br>
            <div class="list">
            <br>
        <table style="margin: auto; ">
            <tr>
                <th>ID</th><th>Username</th><th>Email</th><th>Actions</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td><td>{{user.username}}</td><td>{{user.email}}</td><td><a href="/users/remove_user/{{user.id}}" class="remove">Remove</a></td>
            </tr>
            {% endfor %}
        </table>
     </div>
     {% with message = get_flashed_messages() %}
        {% if message %}
        <p style="color: brown;">{{ message[0] }}</p>
        {% endif %}
        {% endwith %}
        <div class="list">
    </div> 
{% endblock %}