{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block page_title %}Edit Users{% endblock %}
{% block body %}
<!-- <header>
    <p class="total">Users in total : {{ amount }}</p>
    </header>
    <div class="center">
            <div class="list">
            <br>
        <table style="margin: auto; ">
            <tr>
                <th>ID</th><th>Type</th><th>Email</th><th>Username</th><th>Password</th><th>Actions</th>
            </tr>
            <tr>
                <td>b8989</td><td>user</td><td>Remove@mail.cpm</td><td>Bllackss88</td><td>ggg889666s</td><td>Remove</td>
            </tr>
            <tr>
                <td>b8989</td><td>user</td><td>Remove@mail.cpm</td><td>Bllackss88</td><td>ggg889666s</td><td>Remove</td>
            </tr>
        </table>
     </div>
    </div> -->
    <h3 style="text-align: center;">NO USERS YET</h3>
{% endblock %}