{% extends 'base.html' %}
{% block title %}Venues{% endblock %}
{% block page_title %}Edit Venues{% endblock %}
{% block body %}
<header>

<p class="total">Venues in total : {{ amount }}</p>
<h2 class="arc">Add to Archive</h2>
</header>
<div class="center">
    <input type="text" id="searchInput" placeholder="Enter search keywords..." onkeyup="searchTable()"><br><br>
    <button class="add-form" onclick="showFormBlock()">Add New Venue</button>
    <div class="form">
        <button class="close" onclick="closeForm()">X</button>
        <form method="POST">
        <label for="band">Enter venue name</label><br>
        <input type="text" name="name" style="margin: 10px;" required>
        <br>
        <label for="city">City</label><br>
        <select name="city" id="city" style="margin: 10px;">
            {% for city in cities %}
            {% if city == 'Tel Aviv' %}
            <option value="Tel Aviv" selected>Tel Aviv</option>
            {% else %}
            <option value="{{ city }}">{{city}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" value="Add">
    </form>
    </div>
    {% with message = get_flashed_messages() %}
    {% if message %}
    <p style="color: brown;">{{ message[0] }}</p>
    {% endif %}
    {% endwith %}
        <div class="list">
        <br>
    <table style="margin: auto; ">
        <tr>
            <th>ID</th><th>Name</th><th>City</th><th>Actions</th>
        </tr>
        {% for i in venues %}
        <tr>
            <td>{{ i.id }}</td><td>{{ i.name }}</td><td>{{ i.city }}</td><td><a href="/venues/remove={{ i.id }}">Remove</a></td>
        </tr>
        {% endfor %}

    </table>
 </div>
</div>
{% endblock %}
    